.App {
  display: flex;
  margin: 50px auto;
  justify-content: center;
}

button {
  background-color: bisque;
  border-radius: 20px;
  width: 80px;
  height: 50px;
  cursor: pointer;
}
ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete {
  background-color: red;
  border-radius: 50px;
  cursor: pointer;
}
input, select, textarea{
  color: #000000;
}